*{
	font-family: verdana;
	margin: 0px;

}
body{
	width: 100%;


}


nav {
	background-color: #595959;
	width: 100%;
	
}
nav ul {
	display: flex;
	justify-content:space-around;
	list-style-type: none;
	padding: 0;
}
nav ul a {
	text-decoration: none;
	text-align: center;
	color: white;
	display: block;
	padding: 15px;
	width: 100%;

}
nav a:hover{
	background-color: #fe9d2a;
	transition: 0.8s all;
	color:black;
	font-size: 17px;
	
}
.search{
	margin-top: 15px;
	float: right;
	margin-right: 10px;

}
input[type-text]{
	padding: 5px;
	border: none;
	font-size: 10px;
	font-family: sans-serif;
}

button{
	float: right;
	background: orange;
	color: White;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	position: relative;
	padding: 3px;
	font-family: sans-serif;
	border:none;
	font-size: 13px;
}

.dave h2{
	padding: 20px;
	text-align: center;
	color: white;
	text-shadow: 4px 4px black; 
}
.section{
	display: flex; flex-direction: row;
	color: white;  
	padding: 10px;
}

#first{
	color: 	#1a0600;
	width: 50%;
	text-align: left;
	border: 2px solid white;
	padding: 2%;
	margin-right: 5px;
	margin-left: 5px;
	box-shadow: 3px 3px black;
	border-radius: 10px;
}
#first h3{
	text-align: center;
	color: white;
	text-shadow: 2px 2px 4px #f44242;
	padding:10px;
}
#first p{
	font-size: 25px;
}

#second{
	color: black;
	width: 50%;
	text-align: center;
	border: 2px solid white;
	padding: 2%;
	margin-right: 5px;
	box-shadow: 3px 3px black;
	border-radius: 10px;
}

#second img{
	
	width: 95%;
	height:90%;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 8px;

}
#second h3{
	padding-top: 4%;

}



footer{

	padding: 20px 0px 20px 0px;
    text-align:center;
    background-color: #222222; 
    color: white;    
    bottom: 0;	
	width: 100%;
	animation: footer 2s infinite;
	margin-top: 1%;
	
  
}
  @keyframes footer{
  	0%{background-color:#222222; }
  	20%{background-color:#262626; }
  	30%{background-color:#333333; }
  	40%{background-color:#404040; }
  	50%{background-color:#4d4d4d; }
  	60%{background-color:#595959; }
  	70%{background-color:#666666; }
  	80%{background-color:#333333; }
  	90%{background-color:#262626; }
  	100%{background-color:#222222;}

 }

 @media screen and (max-width : 500px){
body{
	width: 100%;

}
section{
	width: 100%;
	margin-bottom:30%;
	margin-top: 30%;

}

footer{
	position: bottom;
    bottom: 0;
	left: 0;
	width: 100%;
}
}

@media screen and (max-width: 600px)
{
	nav ul {
	display: flex;
	flex-direction: column;
	width: 100%;
}




.section{
	flex-direction: column;
	
}

#first{
	
	width: 100%;
}

#second {
	width: 100%;
	height: 100%;
}


#second img
{
	height: 60%;
}
footer{
	width: 100%;
margin-bottom: 0;
position: bottom;
}