*{
	font-family: verdana;
	margin: 0px;

}
body{
	width: 100%;


}


nav {
	background-color: #595959;
	width: 100%;
	
}
nav ul {
	display: flex;
	justify-content:space-around;
	list-style-type: none;
	padding: 0;
}
nav ul a {
	text-decoration: none;
	text-align: center;
	color: white;
	display: block;
	padding: 15px;
	width: 100%;

}
nav a:hover{
	background-color: #fe9d2a;
	transition: 0.8s all;
	color:black;
	font-size: 17px;
	
}
.search{
	margin-top: 15px;
	float: right;
	margin-right: 10px;

}
input[type-text]{
	padding: 5px;
	border: none;
	font-size: 10px;
	font-family: sans-serif;
}

button{
	float: right;
	background: orange;
	color: white;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	position: relative;
	padding: 3px;
	font-family: sans-serif;
	border:none;
	font-size: 13px;
}
footer{

	padding: 20px 0px 20px 0px;
    text-align:center;
    background-color: #222222; 
    color: white;
    position: absolute;
    bottom: 0;	
	width: 100%;
	animation: footer 2s infinite;
	
  
}
  @keyframes footer{
  	0%{background-color:#222222; }
  	20%{background-color:#262626; }
  	30%{background-color:#333333; }
  	40%{background-color:#404040; }
  	50%{background-color:#4d4d4d; }
  	60%{background-color:#595959; }
  	70%{background-color:#666666; }
  	80%{background-color:#333333; }
  	90%{background-color:#262626; }
  	100%{background-color:#222222;}
  }


.text h1{
	color: #8080ff;
	padding: 20px;
	text-align: center;	
	font-size: 40px;
	animation: text 1.8s;
	letter-spacing: 5px;
	text-shadow: 4px 4px black; 

	
}
@keyframes text{
	0%{
		color: #000000;
		letter-spacing: 50px;

	}
	25%{color:  #660000;
		letter-spacing: 40px;
	}
	50%{color:  #4d4d00;
		letter-spacing: 30px;
	}

	75%{color:  #660000;
		letter-spacing: 20px;
	}
	100%{color:  #4d4d4d;
		letter-spacing: 10px;
	}

}



.section img{
	margin-bottom: 30px;
	margin-top: 20px;
	margin-left: 40%;
	border-radius: 50%;
	padding-top: 20px;
	width: 20%;
	height:200%;
    box-shadow: 15px 15px 15px 0 rgba(0, 0, 0, 1);
	

}
.section img:hover{
    animation: shake 3s;
  animation-iteration-count: 12s;

}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(30deg); }
  
  33% { transform: translate(1px, 1px) rotate(-30deg); }
  
  66% { transform: translate(1px, 1px) rotate(30deg); }
  100% { transform: translate(1px, 1px) rotate(-30deg); }
  
 
}





@media screen and (max-width: 600px)
{
	nav ul {
	display: flex;
	flex-direction: column;
	width: 100%;
}
*{
	margin:0px;
}


footer{
	width: 100%;
margin-bottom: 0;
position: bottom;
}

.section{
	flex-direction: column;
	margin: 0px;
	
}


section{
	width: 100%;
	margin-bottom:30%;
	margin-top: 0%;
	
}
   

   


